@import "tailwindcss";

/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

@font-face {
  font-family: "Redaction 10";
  src: url("/fonts/redaction-10-latin-400-normal.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("/fonts/ibm-plex-mono-latin-400-normal.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-bland: oklch(100% 0.00011 271.152);
  --color-background: oklch(0% 0 0);
  --color-dead: #818181;
  --color-less-dead: #111111;
  --color-focus-outline: #2f8af9;
  --color-border: oklch(100% 0.00011 271.152 / 0.05);

  --font-heading: "Redaction 10", sans-serif;
  --font-body: "IBM Plex Mono", monospace;

  --breakpoint-sm: 22.5rem;

  --text-base: 0.688rem;
  --text-xl: 2.25rem;

  --inset-shadow-border: inset 0 0 0 2px var(--color-border);
}

html {
  font-size: calc(16 / 360 * 100vw);

  /* @media (width >= 50rem) {
    font-size: calc(16 / 800 * 100vw);
  }

  @media (width >= 80rem) {
    font-size: calc(16 / 1280 * 100vw);
  }

  @media (width >= 108rem) {
    font-size: 16px;
  } */
}

@layer components {
  .counter-separator {
    > *:not(:first-child)::before {
      content: "/";
      position: absolute;
      left: -0.375rem;
      transform: translateX(-100%);
    }

    > * {
      position: relative;
    }
  }

  .icon-button {
    @apply text-dead hover:text-bland focus-visible:text-bland focus-visible:outline-none cursor-pointer;

    &:focus-visible svg {
      @apply filter-[drop-shadow(1px_1px_0px_#2F8AF9)];
    }
  }
}
